

@keyframes flicker {
    0% {
      background-position: left 0px top 0px;
    }
    100% {
        background-position: left 0px top 100vmax;
    }
}

p {
    font-family: "Taiko";
    font-size: 20px;
  }

canvas {
    border: 0px solid #000000;
    background-image: url('./assets/background/tile.png');
    background-size: 20%;
    animation: flicker 60s linear infinite;
}

body {
    background-color: #aaaaaa;
    margin: 0;
    overflow: hidden;
}